# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# IDEs
.idea/
.vscode/
*.iml

# OS artifacts
.DS_Store
Thumbs.db

# Firebase/Secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
web/firebase-config.js

# Logs & Coverage
*.log
coverage/

# Hive boxes
*.hive
*.lock
